<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h2 style="margin-left: 200px;">Registration Form</h2>
              <form #userForm="ngForm" (ngSubmit)='addParticipant(userForm.value)' style="margin-left: 40px;">
  
                <div class="row">
                  <div class="col-md-6">
                        <label class="form-label" for="name">Enter your Name</label>
                      <input type="text" name="name" class="form-control form-control-lg" ngModel required/>
                  </div>
                    <div class="col-md-6">
                          <label class="form-label" for="emailId">Enter your Email Id</label>
                        <input type="email" name="emailId" class="form-control form-control-lg" ngModel required/>
                    </div>
                   </div>
                   <br/>
                   <div class="row">
                    <div class="col-md-6">
                          <label class="form-label" for="emailId">Enter your Conatct Number</label>
                        <input type="text" name="contactNumber" class="form-control form-control-lg" ngModel required/>
                    </div>
                    <div class="col-md-6">
                            <label for="collegeid">Enter College Id</label>
                            <select class="form-control form-control-lg"  name="college" ngModel>
                                <option *ngFor = "let c of colleges" [value]=c.id>{{ c.name }}</option>
                            </select>
                      </div>
                   </div>
                   <br/>
                    <input class="btn btn-primary btn-lg" style="margin-left: 180px;" type="submit" value="Submit" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>