<div>
    <table>
        <thead>
            <tr>
                <th>Accomodation ID</th>
                <th>participant ID</th>
                <th>Hostel ID</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let viewAccomodations of viewAccomodation">
                <td>{{viewAccomodations.id}}</td>
                <td>{{viewAccomodations.participants.id}}</td>
                <td>{{viewAccomodations.hostel.id}}</td>
              </tr>
        </tbody>
      </table>
      
</div>
