.maindiv{
    background-image: url('../../../../assets/Login.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
#profile-img {
    height:180px;
}
.h-80 {
    height: 80% !important;
}